var fixed = ((function(price) {
    return ((price.toFixed(2)))
}));
var splitPrice = ((function(price, index) {
    return ((price.toString().split('.')[((nt_0 = (((nt_0 = (index), null == nt_0 ? undefined : 'number' === typeof nt_0 ? nt_0 : "" + nt_0))), null == nt_0 ? undefined : 'number' === typeof nt_0 ? nt_0 : "" + nt_0))]))
}));
var splitValue = ((function(init, index, operators) {
    return ((init.toString().split(operators)[((nt_1 = (((nt_1 = (index), null == nt_1 ? undefined : 'number' === typeof nt_1 ? nt_1 : "" + nt_1))), null == nt_1 ? undefined : 'number' === typeof nt_1 ? nt_1 : "" + nt_1))]))
}));
var getDateYMD = ((function(value) {
    return ((value && value.substring(0, 10)))
}));
module.exports = (({
    fixed: fixed,
    splitPrice: splitPrice,
    splitValue: splitValue,
    getDateYMD: getDateYMD,
}));